:root {
    --c-grayish-blue: hsl(237, 18%, 59%);
    --c-soft-red: hsl(345, 95%, 68%);
    --c-white: hsl(0, 0%, 100%);
    --c-dark-destaurated-blue: hsl(236, 21%, 26%);
    --c-dark-blue: hsl(235, 16%, 14%);
    --c-blackish-blue: hsl(234, 17%, 12%);
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--c-white);
    text-transform: uppercase;
}

.countdown__title {
    font-size: 1.5rem;
    letter-spacing: .4rem;
}

.timer__card-label {
    font-size: clamp(0.5rem, 1vw, 1rem);
    letter-spacing: .2rem;
}

/* ----- Global styles ----- */

html {
    background-color: var(--c-dark-blue);
    background-color: hsl(257, 19%, 14%);
    z-index: -20;
}

body {
    min-height: 100vh;
    background-image: url("../images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 200% 20%;
    position: relative;
    animation: raiseUp 1.5s ease-in-out forwards;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 10rem 1rem 0rem 1rem;
}

#canvas {
    background-color: transparent;
    position: absolute;
    inset: 0;
    z-index: -10;
}

.countdown__title {
    margin: 0 auto;
    width: 98%;
    text-align: center;
    position: relative;
}

.countdown__title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-dark-blue);
    animation: reveal 1.5s ease-in-out forwards;
}

.sr-only:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}

.timer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-top: 80px;
    animation: fadeIn 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.timer__card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19.2vw;
    height: 9.1vw;
    perspective: 200px;
    color: var(--c-soft-red);
}

.timer__card {
    font-size: clamp(2.3rem, 7.4vw, 6rem);
}

.timer__card-shadow {
    background-color: var(--c-blackish-blue);
    /* background-color: #fff; */
    height: 200%;
    width: 17vw;
    position: absolute;
    top: 5px;
    left: 1.1vw;
    border-radius: 5px;
}

.timer__card:before {
    content: attr(data-back);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    overflow: hidden;
}

.timer__card:after {
    content: attr(data-back);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    overflow: hidden;
}

.timer__card--front:before {
    content: attr(data-front);
    align-items: flex-end;
    top: 0;
    background: url("../images/card-top.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-origin: center bottom;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 3;
}

.timer__card--front:after {
    content: attr(data-front);
    top: 100%;
    background: url("../images/card-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.timer__card--back:before {
    bottom: 0;
    align-items: flex-end;
    background: url("../images/card-top.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.timer__card--back:after {
    top: 100%;
    background: url("../images/card-bottom.svg");
    background-size: 100% 100%;
    transform-origin: top center;
    transform: rotateX(.5turn);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 2;
}

.timer__card-label {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 230%;
    width: 100%;
    text-transform: uppercase;
    color: var(--c-grayish-blue);
}

.countdown__socials {
    display: flex;
    gap: 2rem;
    animation: fadeIn 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.fa {
    color: var(--c-grayish-blue);
    font-size: 2rem;
    width: 100%;
    transition: .5s color cubic-bezier(0.39, 0.575, 0.565, 1);
}

.countdown__socials-link:hover .fa {
    color: var(--c-soft-red)
}


.timer__card-wrapper.running .timer__card--front:before {
    animation: frontFlipDown .6s ease-in-out;
}

.timer__card-wrapper.running .timer__card--back:after {
    animation: backFlipDown .6s ease-in-out;
}


@keyframes frontFlipDown {
    to {
        transform: rotateX(-0.5turn);
    }
}

@keyframes backFlipDown {
    to {
        background-image: url("../images/card-bottom.svg");
        transform: rotateX(0turn);
    }
}


@keyframes reveal {
    to {
        height: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes raiseUp {
    from {
        background-size: 200% 0%;
    }

    to {
        background-size: 200% 20%;
    }
}

/* ----- Media Queries ----- */


@media (min-width: 500px) {

    .countdown__container {
        width: 100%;
        max-width: 530px;
    }

    .timer__card-wrapper {
        width: 22%;
        height: 45px;
        max-width: 100px;
    }

    .timer__card-shadow {
        top: 8px;
        left: 1px;
        width: calc(100% - 2px);
    }
}


@media (min-width: 768px) {

    body {
        background-position: bottom center;
        background-size: 100% 20%;
    }

    .countdown__container {
        max-width: 650px;
    }

    .timer__card-wrapper {
        width: 20%;
        height: 61px;
        max-width: 200px;
    }

    .timer__card {
        font-size: clamp(2.3rem, 4.5rem, 6rem);
    }

    .timer__card-label {
        font-size: .8rem;
    }

    @keyframes raiseUp {
        from {
            background-size: 100% 0%;
        }

        to {
            background-size: 100% 20%;
        }
    }
}


@media (min-width: 1200px) {

    .countdown {
        gap: 13rem;
    }

    .countdown__container {
        max-width: 660px;
        outline: none;
    }

    .timer__card-wrapper {
        width: 20%;
        height: 63px;
        max-width: 220px;
    }

    .timer__card {
        font-size: 4.7rem;
    }

    .timer__card-label {
        font-size: .9rem;
    }
}